<bk-header titulo="BasketKids" subtitulo="Login" menu="hide"></bk-header>

<ion-content [fullscreen]="true">
  <div class="d-flex-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">


      <!-- email -->
      <bk-input type="email" autocomplete="email" [control]="form.controls.email" label="Email"
        icon="mail-outline"></bk-input>

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">

        <div class="text-danger" *ngIf="form.controls.email.errors?.['required']">El email es requerido</div>
        <div class="text-danger" *ngIf="form.controls.email.errors?.['email']">El email no es válido</div>

      </div>


      <!-- password -->
      <bk-input type="password" icon="lock-closed-outline" [control]="form.controls.password"
        label="Contraseña"></bk-input>
      <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">

        <div class="text-danger" *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida</div>
        <div class="text-danger" *ngIf="form.controls.password.errors?.['minlength']">La contraseña es muy corta</div>

      </div>
      
<!-- boton -->
      <ion-button type="submit" [disabled]="form.invalid" expand="block" color="primary">Iniciar sesión</ion-button>
    </form>
  </div>
</ion-content>