
    img {
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
  }
  
  .imagenredonda {
     background-color: orange; // or colour: red; I don't know
     border-radius: 50%;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     //font-size: xx-large;
     font-weight: bold;
     
     //width: 65px;
     //height: 65px;
     color: black;
     display:flex;
      justify-content: center;
      align-items: center;
      }