<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      BasketKids
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>



        <ion-buttons>

          <ion-label>Jugadores </ion-label>
          <ion-button slot="end">
            <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
          </ion-button>

        </ion-buttons>


      </ion-card-title>
      <ion-card-subtitle>Edita tus jugadores</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{url}}
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let j of jugadores" [routerLink]="['/jugadores/',j.id]">
            <itemcircle nombre="{{j.nombre}}" text="{{j.dorsal}}" email="{{j.email}}"  ></itemcircle>
          </ion-col>
        </ion-row>
      </ion-grid>



    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>



        <ion-buttons>

          <ion-label>Equipos </ion-label>
          <ion-button slot="end">
            <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
          </ion-button>

        </ion-buttons>


      </ion-card-title>
      <ion-card-subtitle>Edita tus equipos</ion-card-subtitle>
    </ion-card-header>

   <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let e of equipos" [routerLink]="['/equipos/',e.id]">
            <itemcircle nombre="{{e.nombre}}" ruta="{{e.logo}}" />
          </ion-col>
         
         
        </ion-row>
        <ion-row>
          <ion-col>ver todos</ion-col>
        </ion-row>
      </ion-grid>



    </ion-card-content> 
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Partidos</ion-card-title>
      <ion-card-subtitle>Edita tus Partidos</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button [routerLink]="['/partidos']"> ver Partidos</ion-button>

      <ion-button> añadir Partidos</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>