<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      BasketKids
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>



        <ion-buttons>

          <ion-label>Jugadores </ion-label>
          <ion-button slot="start">
            <!-- <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon> -->
            <bk-add tipo="Jugador"></bk-add>
            
          </ion-button>
          <ion-button slot="end" [routerLink]="['/jugadores/']">Ver más <ion-icon  name="list-circle-outline"></ion-icon></ion-button>

        </ion-buttons>


      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let j of jugadores" [routerLink]="['/jugadores/',j.id]">
            <itemcircle nombre="{{j.nombre}}" text="{{j.dorsal}}" email="{{j.email}}"></itemcircle>
          </ion-col>
        </ion-row>
       
      </ion-grid>



    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>



        <ion-buttons>

          <ion-label>Equipos </ion-label>
          <ion-button slot="end">
            <bk-add tipo="Equipo"></bk-add>
          </ion-button>
          <ion-button slot="end" [routerLink]="['/equipos/']">Ver más <ion-icon  name="list-circle-outline"></ion-icon></ion-button>


        </ion-buttons>


      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let e of equipos" [routerLink]="['/equipos/',e.id]">
            <itemcircle nombre="{{e.nombre}}" ruta="{{e.logo}}" />
          </ion-col>


        </ion-row>
    
      </ion-grid>



    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        

        <ion-buttons>

          <ion-label>Partidos </ion-label>
          <ion-button slot="end">
            <bk-add tipo="Partido"></bk-add>
            
          </ion-button>
          <ion-button slot="end" [routerLink]="['/partidos/']">Ver más <ion-icon  name="list-circle-outline"></ion-icon></ion-button>

        </ion-buttons>

      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      
    </ion-card-content>
  </ion-card>
  <!-- <ion-list *ngIf="personajes!=undefined">
    <ion-item *ngFor="let personaje of personajes.results">{{personaje.name}}</ion-item>
  </ion-list> -->
</ion-content>